<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="daylemk.xposed.xbridge"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- begin with 13 is after the viewinplay version -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <activity
            android:name=".ui.XBridgeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- remove this later -->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>

</manifest>
